### Project/Task 18

In [1]:
import numpy as np
import pandas as pd

In [2]:
possum = pd.read_csv("possum.csv")
possum.head()

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0

In [3]:
possum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   case      104 non-null    int64
 1   site      104 non-null    int64
 2   Pop       104 non-null    object
 3   sex       104 non-null    object
 4   age       102 non-null    float64
 5   hdlngth   104 non-null    float64
 6   skullw    104 non-null    float64
 7   totlngth  104 non-null    float64
 8   taill     104 non-null    float64
 9   footlgth  103 non-null    float64
 10  earconch  104 non-null    float64
 11  eye       104 non-null    float64
 12  chest     104 non-null    float64
 13  belly     104 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 11.5+ KB

In [4]:
possum.describe()

,case,site,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
count,104.000000,104.000000,102.000000,104.000000,104.000000,104.000000,104.000000,103.000000,104.000000,104.000000,104.000000,104.000000
mean,52.500000,3.625000,3.833333,92.602885,56.883654,87.088462,37.009615,68.459223,48.130769,15.046154,27.000000,32.586538
std,30.166206,2.349086,1.909244,3.573349,3.113426,4.310549,1.959518,4.395306,4.109380,1.050374,2.045597,2.761949
min,1.000000,1.000000,1.000000,82.500000,50.000000,75.000000,32.000000,60.300000,40.300000,12.800000,22.000000,25.000000
25%,26.750000,1.000000,2.250000,90.675000,54.975000,84.000000,35.875000,64.600000,44.800000,14.400000,25.500000,31.000000
50%,52.500000,3.000000,3.000000,92.800000,56.350000,88.000000,37.000000,68.000000,46.800000,14.900000,27.000000,32.500000
75%,78.250000,6.000000,5.000000,94.725000,58.100000,90.000000,38.000000,72.500000,52.000000,15.725000,28.000000,34.125000
max,104.000000,7.000000,9.000000,103.100000,68.600000,96.500000,43.000000,77.900000,56.200000,17.800000,32.000000,40.000000

In [5]:
possum_data = possum.copy()

In [6]:
possum_data.drop("Pop", axis = 1, inplace = True)
possum_data.head(1)

,case,site,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0

### The Center of Measure

In [7]:
possum_data[possum_data["eye"].isnull() == "True"].value_counts()

Series([], Name: count, dtype: int64)

In [8]:
possum_data.head(10)

,case,site,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0
5,6,1,f,1.0,93.1,54.8,90.5,35.5,73.2,53.6,14.2,30.0,32.0
6,7,1,m,2.0,95.3,58.2,89.5,36.0,71.5,52.0,14.2,30.0,34.5
7,8,1,f,6.0,94.8,57.6,91.0,37.0,72.7,53.9,14.5,29.0,34.0
8,9,1,f,9.0,93.4,56.3,91.5,37.0,72.4,52.9,15.5,28.0,33.0
9,10,1,f,6.0,91.8,58.0,89.5,37.5,70.9,53.4,14.4,27.5,32.0

In [11]:

# 1. compute the mode of the "eye" column
possums_case_mode = possum_data["eye"].mode()
print("Mode of 'eye' column:")
print(possums_case_mode)

# 2. Value counts of "eye" column
possums_case_mod = possum_data["eye"].value_counts()
print("\nValue counts of 'eye' column:")
print(possums_case_mod)

# 3. Sorted value counts of "earconch" column
print("\nSorted value counts of 'earconch' column:")
print(possum_data['earconch'].value_counts().sort_values())

# 4. Mode of "earconch" column
possums_case_mode = possum_data['earconch'].mode()
print("\nMode of 'earconch' column:")
print(possums_case_mode)

Mode of 'eye' column:
0    14.4
1    14.5
Name: eye, dtype: float64

Value counts of 'eye' column:
eye
14.4    9
14.5    9
15.0    8
14.0    6
14.9    6
15.2    4
16.0    4
14.2    4
14.8    4
15.5    3
15.3    3
15.4    3
16.2    3
16.4    3
14.7    3
13.6    3
15.9    3
13.0    3
15.7    2
15.8    2
15.1    2
17.4    2
17.0    2
16.5    2
13.8    1
13.4    1
14.6    1
17.5    1
17.1    1
14.1    1
16.9    1
17.8    1
13.2    1
16.3    1
12.8    1
Name: count, dtype: int64

Sorted value counts of 'earconch' column:
earconch
54.5    1
52.2    1
51.9    1
53.5    1
53.3    1
       ..
51.8    3
46.0    4
46.8    4
52.0    4
44.9    4
Name: count, Length: 69, dtype: int64

Mode of 'earconch' column:
0    44.9
1    46.0
2    46.8
3    52.0
Name: earconch, dtype: float64

In [14]:
# Define the columns, their labels, and units
columns_info = {
    "case":       ("Case (Observation Number)", ""),
    "site":       ("Site number where the possum was trapped", ""),
    "age":        ("Age", ""),
    "hdlngth":    ("Head length", "mm"),
    "skullw":     ("Skull width", "mm"),
    "totlngth":   ("Total length", "cm"),
    "taill":      ("Tail length", "cm"),
    "footlgth":   ("Foot length", "cm"),
    "earconch":   ("Ear-conch", "mm"),
    "eye":        ("Eye distance from medial to lateral canthus", "mm"),
    "chest":      ("Chest girth", "cm"),
    "belly":      ("Belly girth", "cm")
}

# Loop through each column and compute stats
for col, (description, unit) in columns_info.items():
    print(f"Data on {description} ({unit})" if unit else f"Data on {description}")

    # Use nan-safe functions where appropriate
    col_data = possum_data[col]
    mean_val = np.nanmean(col_data)
    median_val = np.nanmedian(col_data)
    mode_val = col_data.mode()

    # Print results
    print(f"Mean: {mean_val:.1f}{unit}")
    print(f"Median: {median_val:.1f}{unit}")
    print("Mode:")
    print(f"{mode_val.to_list()} {unit}\n")

Data on Case (Observation Number)
Mean: 52.5
Median: 52.5
Mode:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104]

Data on Site number where the possum was trapped
Mean: 3.6
Median: 3.0
Mode:
[1]

Data on Age
Mean: 3.8
Median: 3.0
Mode:
[3.0]

Data on Head length (mm)
Mean: 92.6mm
Median: 92.8mm
Mode:
[93.3] mm

Data on Skull width (mm)
Mean: 56.9mm
Median: 56.3mm
Mode:
[57.6] mm

Data on Total length (cm)
Mean: 87.1cm
Median: 88.0cm
Mode:
[89.0] cm

Data on Tail length (cm)
Mean: 37.0cm
Median: 37.0cm
Mode:
[38.0] cm

Data on Foot length (cm)
Mean: 68.5cm
Median: 68.0cm
Mode:
[73.2] cm

Data on Ear-conch (mm)
Mean: 48.1mm
Median: 46.8mm
Mode:
[44.9, 46.0, 46.8, 52.0] mm

Data on Eye distance from medial to lateral canthus (mm)
Mean: 15.0mm
Median: 14.9mm
Mode:
[14.4, 14.5] mm

Data on Chest girth (cm)
Mean: 27.0cm
Median: 27.0cm
Mode:
[28.0] cm

Data on Belly girth (cm)
Mean: 32.6cm
Median: 32.5cm
Mode:
[32.0, 33.0] cm

### Measure of Spread

In [15]:
possum_data.head(1)

,case,site,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0

In [17]:
# Dictionary with columns and their descriptions
columns_info = {
    "case": "Case",
    "site": "Site",
    "age": "Age",
    "hdlngth": "Head Length",
    "skullw": "Skull Width",
    "totlngth": "Total Length",
    "taill": "Tail Length",
    "footlgth": "Foot Length",
    "earconch": "Ear-conch Length",
    "eye": "Eye Distance from Medial Canthus",
    "chest": "Chest",
    "belly": "Belly"
}

# Loop through each column
for col, description in columns_info.items():
    col_data = possum_data[col].dropna()  # Drop NaNs if any

    # Actual range
    col_range = col_data.max() - col_data.min()

    # Approximated values based on range
    approx_std = col_range / 4
    approx_var = approx_std ** 2

    # Print results
    print(f"<=== Data on {description} ===>")
    print(f"Range: {col_range:.1f}")
    print(f"Approx. Variance (range²/16): {approx_var:.1f}")
    print(f"Approx. Std. Deviation (range/4): {approx_std:.1f}\n")

<=== Data on Case ===>
Range: 103.0
Approx. Variance (range²/16): 663.1
Approx. Std. Deviation (range/4): 25.8

<=== Data on Site ===>
Range: 6.0
Approx. Variance (range²/16): 2.2
Approx. Std. Deviation (range/4): 1.5

<=== Data on Age ===>
Range: 8.0
Approx. Variance (range²/16): 4.0
Approx. Std. Deviation (range/4): 2.0

<=== Data on Head Length ===>
Range: 20.6
Approx. Variance (range²/16): 26.5
Approx. Std. Deviation (range/4): 5.1

<=== Data on Skull Width ===>
Range: 18.6
Approx. Variance (range²/16): 21.6
Approx. Std. Deviation (range/4): 4.6

<=== Data on Total Length ===>
Range: 21.5
Approx. Variance (range²/16): 28.9
Approx. Std. Deviation (range/4): 5.4

<=== Data on Tail Length ===>
Range: 11.0
Approx. Variance (range²/16): 7.6
Approx. Std. Deviation (range/4): 2.8

<=== Data on Foot Length ===>
Range: 17.6
Approx. Variance (range²/16): 19.4
Approx. Std. Deviation (range/4): 4.4

<=== Data on Ear-conch Length ===>
Range: 15.9
Approx. Variance (range²/16): 15.8
Approx. Std. Deviation (range/4): 4.0

<=== Data on Eye Distance from Medial Canthus ===>
Range: 5.0
Approx. Variance (range²/16): 1.6
Approx. Std. Deviation (range/4): 1.2

<=== Data on Chest ===>
Range: 10.0
Approx. Variance (range²/16): 6.2
Approx. Std. Deviation (range/4): 2.5

<=== Data on Belly ===>
Range: 15.0
Approx. Variance (range²/16): 14.1
Approx. Std. Deviation (range/4): 3.8